@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  @apply bg-background text-white font-proxima-nova;
  -webkit-font-smoothing: antialiased;
}

h1,
h2 {
  @apply font-orbitron;
}

a,
button,
select,
input,
textarea {
  @apply rounded-md;
}

button,
a {
  @apply hover:brightness-75 disabled:cursor-not-allowed disabled:brightness-50 transition-all;
}

a {
  color: inherit;
  text-decoration: none;
}

.active-modal {
  overflow: hidden;
}
