@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'ProximaNova';
  src: url('/fonts/ProximaNova/ProximaNova-Light.ttf');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'ProximaNova';
  src: url('/fonts/ProximaNova/ProximaNova-Regular.ttf');
  font-style: medium;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'ProximaNova';
  src: url('/fonts/ProximaNova/ProximaNova-Semibold.ttf');
  font-style: medium;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: 'ProximaNova';
  src: url('/fonts/ProximaNova/ProximaNova-Bold.ttf');
  font-style: medium;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'ProximaNova';
  src: url('/fonts/ProximaNova/ProximaNova-Extrabld.ttf');
  font-style: medium;
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: 'ProximaNova';
  src: url('/fonts/ProximaNova/ProximaNova-Black.ttf');
  font-style: medium;
  font-weight: 900;
  font-display: swap;
}

* {
  font-family: 'ProximaNova';
}

.bold-36 {
  @apply text-4xl text-white font-bold;
}

.bold-30 {
  @apply text-3xl text-white font-bold;
}

.bold-cobogo-30 {
  @apply text-3xl text-cobogo font-bold;
}

.bold-24 {
  @apply text-2xl text-white font-bold;
}

.bold-cobogo-24 {
  @apply text-2xl text-cobogo font-bold;
}

.bold-18 {
  @apply text-lg text-white font-bold;
}

.bold-cobogo-16 {
  @apply text-base text-cobogo font-bold;
}

.regular-30 {
  @apply text-3xl text-white;
}

.regular-24 {
  @apply text-2xl text-white;
}

.regular-cobogo-24 {
  @apply text-2xl text-cobogo;
}

.regular-18 {
  @apply text-lg text-white;
}

.regular-cobogo-18 {
  @apply text-lg text-cobogo;
}

.regular-16 {
  @apply text-base text-white;
}

.light-24 {
  @apply text-2xl text-white font-light;
}

.light-16 {
  @apply text-base text-white font-light;
}

.image {
  height: 70vh;
  width: 100vw;
}
